<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {#
    <link rel="stylesheet" href="../static/styles/style.css" />
    #}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <title>City not found</title>
  </head>
  <body>
    <header></header>
    <main>
      <section class="main-section">
        <h1><span>City not found</span></h1>
        <h2>Try again ?</h2>
        <form action="/weather">
            <input
              type="text"
              name="city"
              id="city"
              placeholder="Enter the City"
            />
            <button type="submit">Enter</button>
          </form>
      </section>
      <section class="second-section">
        <h2 class="creatingby">Creating by Kyrylo Melnikov</h2>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
