<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {#
    <link rel="stylesheet" href="../static/styles/style.css" />
    #}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <title>Get km</title>
  </head>
  <body>
    <header></header>
    <main>
      <section class="main-section">
        <h1><span>Geo km</span></h1>
        <p>{{title}}</p>
        <p>{{var_km}}</p>
        <p>{{var_cost}}</p>
        <p>{{var_time}}</p>


        </form>
      </section>
      <section class="second-section">
        <h2 class="creatingby">Creating by Kyrylo Melnikov</h2>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
